@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:ital,wght@0,100;0,900;1,100;1,400;1,500&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.section1, .section2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px; }

* {
  margin: 0;
  padding: 0; }

.main_contacto {
  min-height: 800px;
  background-color: #FEC89A;
  padding: 15px; }

.esImportante h1 {
  color: #0e0303;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 75px;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.videoServicios {
  margin: 75px;
  text-align: center; }

.container {
  margin-top: 50px;
  text-align: center;
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagen titulo" "imagen txt_servicios" "imagen button_servicios"; }

.titulo {
  grid-area: titulo;
  text-align: center;
  margin: auto; }

.txt_servicios {
  font-size: 20px;
  grid-area: txt_servicios;
  text-align: center;
  margin: auto; }

.button_servicios {
  grid-area: button_servicios;
  text-align: center;
  margin: auto; }

.imagen {
  padding-right: 30px;
  grid-area: imagen;
  text-align: center;
  margin: auto; }
  .imagen img {
    border-radius: 150px;
    border: 3px outset #d664cf; }

.s_button {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: #384562;
  border-radius: 10px;
  letter-spacing: 1px;
  height: 39px;
  line-height: 39px;
  padding: 0 23px;
  border: 2px solid #303030;
  display: inline-block;
  text-decoration: none; }

.main_sobre_mi {
  background-image: url(https://res.cloudinary.com/giacometti-n/image/upload/v1656458484/pilates-_gkj5lv.jpg);
  position: relative;
  min-height: 1200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

.capa {
  position: absolute;
  background: #FEC89A;
  opacity: 0.7;
  min-height: 1200px; }

.texto_sobremi {
  display: flex;
  padding: 100px;
  flex-direction: column;
  align-items: center;
  font-size: 35px;
  text-align: center;
  z-index: 1;
  color: black; }

.container_testimonios {
  font-size: 18px;
  font-family: Arial; }

.main_testimonios {
  background-color: colorFondoBloque1; }

.caja {
  background-color: #FEC89A;
  width: auto;
  display: grid;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  margin: 25px; }
  .caja img {
    margin: 15px;
    width: 100px;
    border-radius: 5px; }

.caja:hover {
  height: auto; }
  .caja:hover img {
    width: 150px;
    transition: 3s; }

.bannerTestimonio {
  border-radius: 25px;
  margin: 35px;
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%); }

.animated-shadow {
  color: #800d4e;
  margin: 50px;
  border: radius 25px;
  font: normal 100px Varela Round, sans-serif;
  height: 150px;
  left: 0;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  animation: move linear 5000ms infinite;
  z-index: 2; }

/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #FEC89A, 3px -3px 0 #FEC89A, 2px -2px 0 #FEC89A, 1px -1px 0 #FEC89A, -4px 4px 0 #FFB5A7, -3px 3px 0 #FFB5A7, -2px 2px 0 #FFB5A7, -1px 1px 0 #FFB5A7; }
  25% {
    text-shadow: -4px -4px 0 #FFB5A7, -3px -3px 0 #FFB5A7, -2px -2px 0 #FFB5A7, -1px -1px 0 #FFB5A7, 4px 4px 0 #FEC89A, 3px 3px 0 #FEC89A, 2px 2px 0 #FEC89A, 1px 1px 0 #FEC89A; }
  50% {
    text-shadow: -4px 4px 0 #FEC89A, -3px 3px 0 #FEC89A, -2px 2px 0 #FEC89A, -1px 1px 0 #FEC89A, 4px -4px 0 #FFB5A7, 3px -3px 0 #FFB5A7, 2px -2px 0 #FFB5A7, 1px -1px 0 #FFB5A7; }
  75% {
    text-shadow: 4px 4px 0 #FFB5A7, 3px 3px 0 #FFB5A7, 2px 2px 0 #FFB5A7, 1px 1px 0 #FFB5A7, -4px -4px 0 #FEC89A, -3px -3px 0 #FEC89A, -2px -2px 0 #FEC89A, -1px -1px 0 #FEC89A; }
  100% {
    text-shadow: 4px -4px 0 #FEC89A, 3px -3px 0 #FEC89A, 2px -2px 0 #FEC89A, 1px -1px 0 #FEC89A, -4px 4px 0 #FFB5A7, -3px 3px 0 #FFB5A7, -2px 2px 0 #FFB5A7, -1px 1px 0 #FFB5A7; } }

.containertexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "section1 section1 section2 section2" "section1 section1 section2 section2";
  background-color: #FFB5A7; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section1 {
  grid-area: section1;
  background-color: #FFB5A7; }

.section2 {
  grid-area: section2;
  background-color: #F9DCC4; }

/* ]navegacion */
header .container-fluid {
  font-size: 20px; }
  header .container-fluid img {
    opacity: 1; }

header .letra_index_nav:hover {
  font-size: 25px;
  background-color: #FFB5A7;
  border-radius: 50px; }

header .letra_servicios_nav:hover {
  font-size: 25px;
  background-color: #FCD5CE;
  border-radius: 50px; }

header .letra_sobre_nav:hover {
  font-size: 25px;
  background-color: #F8EDEB;
  border-radius: 50px; }

header .letra_contacto_nav:hover {
  font-size: 25px;
  background-color: #F9DCC4;
  border-radius: 50px; }

header .letra_testimonio_nav:hover {
  font-size: 25px;
  background-color: #FEC89A;
  border-radius: 50px; }

.section1 {
  height: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section2 {
  max-width: 550px;
  text-align: center; }

.img {
  width: 8900px; }

.imgIndex {
  border-radius: 50px;
  padding: 50px; }

.imgIndex:hover {
  border-radius: 50px;
  padding: 20px;
  transform: scale(1.2); }

footer {
  background-color: #FEC89A; }

.containerfooter {
  align-items: center;
  padding: 10px; }

.footerIcon {
  font-size: 35px;
  text-align: center; }

.animation button {
  transform: skew(20deg);
  transition: 1s; }

@media (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column; }
  .imagen {
    margin-top: 100px;
    display: flex;
    flex-direction: column; }
    .imagen img {
      text-align: center;
      width: 460px;
      border-radius: 150px;
      border: 3px outset #d664cf; }
  .esImportante h1 {
    color: #0e0303;
    font-family: monospace;
    overflow: hidden;
    font-size: 15px;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 15px;
    letter-spacing: .15em;
    animation: typing 3.5s steps(10, end), blink-caret 0.5s step-end infinite; }
  .videoServicios {
    width: auto;
    margin-left: 0;
    margin-top: 450px; }
  .texto_sobremi {
    font-size: 20px; }
  .animated-shadow {
    font: normal 20px Varela Round, sans-serif;
    height: 25px; }
  .containertexto {
    display: flex;
    flex-direction: column; }
    .containertexto img {
      max-width: 400px; }
  .section1 {
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px; }
  .containerfooter {
    text-align: center; }
  .navbar-nav {
    align-items: center; }
  .main_sobre_mi img {
    justify-content: center;
    text-align: center;
    width: 30rem;
    align-items: center;
    margin: 30px; } }

@media (max-width: 600px) {
  .animated-shadow {
    font: normal 20px Varela Round, sans-serif;
    height: 25px; }
  .navbar-nav {
    align-items: center; }
  .containertexto {
    display: flex;
    flex-direction: column; }
    .containertexto img {
      max-width: 400px; }
  .section1 {
    align-items: center;
    font-size: 20px;
    margin-bottom: 15px; }
  .containerfooter {
    text-align: center; }
  .navbar-nav {
    align-items: center; }
  .main_sobre_mi img {
    justify-content: center;
    text-align: center;
    width: 30rem;
    align-items: center;
    margin: 30px; } }
