@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Roboto:ital,wght@0,100;0,900;1,100;1,400;1,500&display=swap");
* {
  margin: 0%;
  padding: 0%; }

.textosobremi, .section2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 25px; }

.contacto {
  padding-top: 80px;
  padding-bottom: 120px;
  background-color: #e7a4f5;
  margin-bottom: 40px; }

.bodyContacto {
  background-color: #e7a4f5; }

.esImportante h1 {
  color: #0e0303;
  font-family: monospace;
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  margin: 75px;
  letter-spacing: .15em;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite; }

@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: orange; } }

.videoServicios {
  margin: 75px;
  text-align: center; }

.container {
  margin-top: 50px;
  text-align: center;
  display: grid;
  height: 500px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagen titulo" "imagen txt_servicios" "imagen button_servicios"; }

.titulo {
  grid-area: titulo;
  text-align: center;
  margin: auto; }

.txt_servicios {
  font-size: 20px;
  grid-area: txt_servicios;
  text-align: center;
  margin: auto; }

.button_servicios {
  grid-area: button_servicios;
  text-align: center;
  margin: auto; }

.imagen {
  padding-right: 30px;
  grid-area: imagen;
  text-align: center;
  margin: auto; }
  .imagen img {
    border-radius: 150px;
    border: 3px outset #d664cf; }

.s_button {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  background-color: #384562;
  border-radius: 10px;
  letter-spacing: 1px;
  height: 39px;
  line-height: 39px;
  padding: 0 23px;
  border: 2px solid #303030;
  display: inline-block;
  text-decoration: none; }

.sobremi {
  display: block;
  position: relative;
  text-align: center; }

.container_testimonios {
  margin: 150px;
  font-size: 18px;
  font-family: Arial; }

.caja {
  border-radius: 15px;
  height: 150px;
  margin: 15px;
  margin-top: 15PX;
  text-align: center; }

.caja:hover {
  height: 450px;
  transition: 1s; }

.bannerTestimonio {
  background: linear-gradient(135deg, #e3e3e3 0%, #5d6874 100%); }

.animated-shadow {
  color: #ffffff;
  margin: 50px;
  border: radius 25px;
  font: normal 140px Varela Round, sans-serif;
  height: 150px;
  left: 0;
  letter-spacing: 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  animation: move linear 2000ms infinite;
  z-index: 2; }

/*Animación para rotar las sombras*/
@keyframes move {
  0% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641, 1px -1px 0 #da0641, -4px 4px 0 #13f1fc, -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc; }
  25% {
    text-shadow: -4px -4px 0 #13f1fc, -3px -3px 0 #13f1fc, -2px -2px 0 #13f1fc, -1px -1px 0 #13f1fc, 4px 4px 0 #da0641, 3px 3px 0 #da0641, 2px 2px 0 #da0641, 1px 1px 0 #da0641; }
  50% {
    text-shadow: -4px 4px 0 #da0641, -3px 3px 0 #da0641, -2px 2px 0 #da0641, -1px 1px 0 #da0641, 4px -4px 0 #13f1fc, 3px -3px 0 #13f1fc, 2px -2px 0 #13f1fc, 1px -1px 0 #13f1fc; }
  75% {
    text-shadow: 4px 4px 0 #13f1fc, 3px 3px 0 #13f1fc, 2px 2px 0 #13f1fc, 1px 1px 0 #13f1fc, -4px -4px 0 #da0641, -3px -3px 0 #da0641, -2px -2px 0 #da0641, -1px -1px 0 #da0641; }
  100% {
    text-shadow: 4px -4px 0 #da0641, 3px -3px 0 #da0641, 2px -2px 0 #da0641, 1px -1px 0 #da0641, -4px 4px 0 #13f1fc -3px 3px 0 #13f1fc, -2px 2px 0 #13f1fc, -1px 1px 0 #13f1fc; } }

.containertexto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: beige;
  gap: 0px 0px;
  grid-template-areas: "section1 section1 section2 section2" "section1 section1 section2 section2";
  align-items: center; }

.section1 {
  grid-area: section1; }

.section2 {
  grid-area: section2; }

.section1 {
  grid-area: section1;
  background-color: beige; }

.section2 {
  grid-area: section2;
  background-color: beige; }

/* ]navegacion */
header .container-fluid {
  font-size: 20px; }

header img {
  opacity: 1; }

.letra_index_nav:hover {
  font-size: 25px;
  background-color: #d04b36;
  border-radius: 50px; }

.letra_servicios_nav:hover {
  font-size: 25px;
  background-color: #e36511;
  border-radius: 50px; }

.letra_sobre_nav:hover {
  font-size: 25px;
  background-color: #ffba00;
  border-radius: 50px; }

.letra_contacto_nav:hover {
  font-size: 25px;
  background-color: #00b180;
  border-radius: 50px; }

.letra_testimonio_nav:hover {
  font-size: 25px;
  background-color: #147aab;
  border-radius: 50px; }

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px; }

.section1 p {
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 600px; }

.img {
  width: 8900px; }

.imgIndex:hover {
  transform: scale(1.3); }

.section2 {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  align-items: center; }
  .section2 .importante {
    font-size: 25px;
    background-color: #6f8695;
    color: #ecddb6; }

footer {
  background-color: #a8eee8;
  color: #fff; }

.containerfooter {
  align-items: center;
  padding: 10px; }

.footerIcon {
  font-size: 35px;
  text-align: center;
  color: white; }

.primeraparte {
  margin-bottom: 100px; }

.titular {
  display: inline-block;
  max-width: 205px; }

.animation button {
  transform: skew(20deg);
  transition: 1s; }

@media (max-width: 480px) {
  .container {
    grid-template-areas: "section1 section1 section1 section1" "section2 section2 section2 section2"; }
  .containerfooter {
    text-align: center;
    padding: 10px; }
  .container-fluid img {
    width: 50px; }
  .main_sobre_mi img {
    justify-content: center;
    text-align: center;
    width: 30rem;
    align-items: center;
    margin: 30px; } }

@media (max-width: 800px) {
  .container {
    grid-template-areas: "section1 section1 section1 section1" "section2 section2 section2 section2"; } }
