* {
    margin: 0%;
    padding: 0%;
}

@import './variables/colores';
@import './variables/tipografia';
@import './variables/tamanios';
@import './variables/extend';

@import './contacto.scss';
@import './servicios.scss';
@import './sobre_mi.scss';
@import './testimonio.scss';


.containertexto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: beige;
    gap: 0px 0px;
    grid-template-areas:

        "section1 section1 section2 section2"
        "section1 section1 section2 section2"
    ;

    align-items: center;
}

.section1 {
    grid-area: section1;
}

.section2 {
    grid-area: section2;
}

.section1 {
    grid-area: section1;
    background-color: beige;
}

.section2 {
    grid-area: section2;
    background-color: beige;
}




/* ]navegacion */

header {
    .container-fluid {
        font-size: 20px;
    }

    img {
        opacity: 1;
    }
}

.letra_index_nav:hover {
    font-size: 25px;
    background-color: #d04b36;
    border-radius: 50px;
}


.letra_servicios_nav:hover {
    font-size: 25px;
    background-color: #e36511;
    border-radius: 50px;
}

.letra_sobre_nav:hover {
    font-size: 25px;
    background-color: #ffba00;
    border-radius: 50px;
}

.letra_contacto_nav:hover {
    font-size: 25px;
    background-color: #00b180;
    border-radius: 50px;
}

.letra_testimonio_nav:hover {
    font-size: 25px;
    background-color: #147aab;
    border-radius: 50px;
}




.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;


}

.section1 p {
    align-items: center;

    text-align: center;
    margin: 1rem;
    width: $parrafo1;
}

.img {
    width: 8900px;
}

.imgIndex:hover {
    transform: scale(1.3);
}

.section2 {
    display: flex;
    flex-direction: column;
    max-width: 550px;
    align-items: center;
    @extend %estilosParrafo;

    .importante {
        font-size: 25px;
        @include claro ()
    }

}



footer {
    background-color: #a8eee8;
    color: #fff;
}

.containerfooter {
    align-items: center;
    padding: 10px;
}

.footerIcon {
    font-size: 35px;
    text-align: center;
    color: white;
}

.primeraparte {
    margin-bottom: 100px;
}

.titular {
    display: inline-block;
    max-width: 205px;
}






.animation button {

    transform: skew(20deg);
    transition: 1s;
}

@media (max-width: 480px) {
    .container {
        grid-template-areas:
            "section1 section1 section1 section1"
            "section2 section2 section2 section2";
    }

    .containerfooter {
        text-align: center;
        padding: 10px;
    }

    .container-fluid img {
        width: 50px;
    }

    .main_sobre_mi img {
        justify-content: center;
        text-align: center;
        width: 30rem;
        align-items: center;
        margin: 30px;

    }
}

@media (max-width: 800px) {
    .container {
        grid-template-areas:
            "section1 section1 section1 section1"
            "section2 section2 section2 section2";
    }


}