.sobremi {
    display: block;
    position: relative;
}



.textosobremi {
    display: block;
    position: relative;
    font-size: 15px;
    line-height: 26px;
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    text-align: left;
}
