.container_testimonios {
  font-size: 18px;
  font-family: Arial;
}

.main_testimonios {
  background-color: colorFondoBloque1;
}

.caja {
  background-color: $colorFondoBloque5;

  img {
    margin: 15px;
    width: 100px;
    border-radius: 5px;
  }

  width: auto;
  display: grid;
  padding: 15px;
  overflow: hidden;
  border-radius: 15px;
  margin: 25px;
}


.caja:hover {
  img {
    width: 150px;
    transition: 3s;
  }

  height: auto;
}

.bannerTestimonio {
  border-radius: 25px;
  margin: 35px;
  background: linear-gradient(135deg, rgb(227, 227, 227) 0%, rgb(93, 104, 116) 100%);
}

.animated-shadow {
  color: rgb(128, 13, 78);
  margin: 50px;
  border: radius 25px;
  font: normal 100px Varela Round, sans-serif;
  height: 150px;
  left: 0;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
  width: auto;
  animation: move linear 5000ms infinite;
  z-index: 2
}

/*Animación para rotar las sombras*/

@keyframes move {

  0% {

    text-shadow:
      4px -4px 0 $colorFondoBloque5,
      3px -3px 0 $colorFondoBloque5,
      2px -2px 0 $colorFondoBloque5,
      1px -1px 0 $colorFondoBloque5,
      -4px 4px 0 $colorFondoBloque1,
      -3px 3px 0 $colorFondoBloque1,
      -2px 2px 0 $colorFondoBloque1,
      -1px 1px 0 $colorFondoBloque1;

  }

  25% {

    text-shadow:
      -4px -4px 0 $colorFondoBloque1,
      -3px -3px 0 $colorFondoBloque1,
      -2px -2px 0 $colorFondoBloque1,
      -1px -1px 0 $colorFondoBloque1,
      4px 4px 0 $colorFondoBloque5,
      3px 3px 0 $colorFondoBloque5,
      2px 2px 0 $colorFondoBloque5,
      1px 1px 0 $colorFondoBloque5;

  }

  50% {

    text-shadow:
      -4px 4px 0 $colorFondoBloque5,
      -3px 3px 0 $colorFondoBloque5,
      -2px 2px 0 $colorFondoBloque5,
      -1px 1px 0 $colorFondoBloque5,
      4px -4px 0 $colorFondoBloque1,
      3px -3px 0 $colorFondoBloque1,
      2px -2px 0 $colorFondoBloque1,
      1px -1px 0 $colorFondoBloque1;

  }

  75% {

    text-shadow:

      4px 4px 0 $colorFondoBloque1,
      3px 3px 0 $colorFondoBloque1,
      2px 2px 0 $colorFondoBloque1,
      1px 1px 0 $colorFondoBloque1,
      -4px -4px 0 $colorFondoBloque5,
      -3px -3px 0 $colorFondoBloque5,
      -2px -2px 0 $colorFondoBloque5,
      -1px -1px 0 $colorFondoBloque5;

  }

  100% {

    text-shadow:

      4px -4px 0 $colorFondoBloque5,
      3px -3px 0 $colorFondoBloque5,
      2px -2px 0 $colorFondoBloque5,
      1px -1px 0 $colorFondoBloque5,
      -4px 4px 0 $colorFondoBloque1,
      -3px 3px 0 $colorFondoBloque1,
      -2px 2px 0 $colorFondoBloque1,
      -1px 1px 0 $colorFondoBloque1;

  }

}